@model dynamic

@section head {
    <style type="text/css">
        .embed-container {
            position: relative;
            padding-bottom: 56.25%;
            height: 0;
            overflow: hidden;
        }

            .embed-container iframe, .embed-container object, .embed-container embed {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }

        #playerContainer {
            width: 90%;
            margin: 0 auto;
        }
    </style>
}

<div class="well-sm">
    <h2><span id="videoTitle"></span></h2>
    <div id="playerContainer">
        <div class="embed-container">
            <iframe id="youtube" width="470" height="264" src="http://www.youtube.com/embed/axSnW-ygU5g" frameborder="0" allowfullscreen=""></iframe>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript" src="@Url.Content("~/scripts/jquery.signalR-2.2.0.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/signalr/hubs")"></script>
    <script type="text/javascript">
        function setVideoPlayer(video) {
            if (console.log) {
                console.log("Title: " + video.Title + " Key: " + video.Key);
            }

            $("#videoTitle").html(video.Title);

            var videoUrl = "http://www.youtube.com/embed/" + video.Key + "?autoplay=1";
            $("#youtube").attr("src", videoUrl);
        }

        $(function () {
            var notify = $.connection.notifyHub;
            $.connection.hub.logging = true;

            $.connection.hub.disconnected(function () {
                setTimeout(function () {
                    $.connection.hub.start();
                }, 5000);
            });

            notify.client.deliverMessage = function (from, video) {
                setVideoPlayer(video);
            };

            $.connection.hub.start();
        });
    </script>
}
