@section scripts {
    <script src="@Url.Content("~/scripts/jquery.validate.min.js")"></script>

    <script type="text/javascript">
        $(function () {
            $("#registerForm").validate({
                rules: {
                    email: {
                        required: true,
                        email: true
                    },
                },
                messages: {
                    email: "Please provide an email address."
                }
            });
        });
    </script>
}
<div class="row">
    <div class="col-lg-6">
        <div class="well-sm">
            <form class="form-horizontal" id="registerForm" name="registerForm" method="POST" action="@Url.Action("Index")">
                <fieldset>
                    <legend>Entry Registration</legend>
                    <div class="form-group">
                        <label for="email" class="col-lg-2 control-label">Email</label>
                        <div class="col-lg-10">
                            <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <button type="submit" class="btn btn-primary btn-success">
                                <span class="glyphicon glyphicon-user"></span>&nbsp;Register
                            </button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
