<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.5" />
        <httpRuntime targetFramework="4.5" />
    </system.web>
    
    <appSettings>
        <add key="signalR.ServiceBus" 
             value="Endpoint=sb://iadnug-demo.servicebus.windows.net/;SharedSecretIssuer=owner;SharedSecretValue=pCpmvy+5pLL4PD5S+NXvdB0Br7ESxOfezdEnJ2Hj7fs="/>
    </appSettings>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>
