
@section head {
<style type="text/css">
</style>
}

<h1>Markup Sync</h1>

<div class="col-md-12">
    <table class="table table-md">
        <thead>
            <tr>
                <th></th>
                <th>Message</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><button class="btn-sm btn-primary message" data-key="sm1">Send</button></td>
                <td id="sm1">
                    <b>The quick brown</b>
                </td>
            </tr>
            <tr>
                <td><button class="btn-sm btn-primary message" data-key="sm2">Send</button></td>
                <td id="sm2">
                    <b>fox jumped over</b>
                </td>
            </tr>
            <tr>
                <td><button class="btn-sm btn-primary message" data-key="sm3">Send</button></td>
                <td id="sm3">
                    <b>the lazy dog!</b>
                </td>
            </tr>
            <tr>
                <td colspan="2">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2">
                    <textarea rows="5" cols="80" style="min-width: 100%" id="gm"></textarea>
                    <br />
                    <button type="button" class="btn-sm btn-primary message" data-key="gm">Send</button>
                    <button type="reset" class="btn-sm btn-danger" id="clear">Clear</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

@section scripts
{
    <script src="~/js/message.js"></script>
}
